extends layout

block content
  .container
    p Tämän sovelluksen avulla kartoitetaan Hacklab Mikkeli ry:n mahdollisuutta maksaa vuokraa.
    | Tavoitteena on kerätä 500€ / kk käytettäväksi vuokran maksuun. On hyvä jos saadaan kerätty hieman kyseistä summaa suurempi määrä, koska mm. sähkö- ja nettilaskut tuovat kustannuksia.
    br
    | HUOM: Tämän sovelluksen kautta jätettyä summaa pidetään
    b &nbsp;sitovana.
    br
    br
    a(href='/auth') 
      h3 Kirjaudu sisään facebook-tunnuksilla.